body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #842732;
    text-align: center;
    padding: 50px;
    color: #FAFFD8;
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
    box-shadow: 1px 1px 15px #5a1a22;
    border-radius: 10px;
}

h1 {
    color: #AFC97E;
}

button {
    background-color: #AFC97E;
    color: #842732;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #D4E6B5;
    box-shadow: 1px 1px 15px #AFC97E;
}

#mensagem {
    margin-top: 20px;
    font-weight: bold;
    color: #FAFFD8;
}